<%- include('../includes/head.ejs') %>
    <p>
        Your Reimbursement Application for "<%= aprReimbursement.purpose %>" has been Approved.<br>
            This will be forwarded to the Finance Department for the releasing.
    </p>
    <div>
        <table cellpadding="3px" border="1px" style="width: 740px; table-layout: fixed;" height="256">
            <tbody>
                <tr>
                    <td>Employee ID</td>
                    <td>
                        <%= aprReimbursement._employeeId %>
                    </td>
                </tr>
                <tr>
                    <td>Reimbursement No.</td>
                    <td>
                        <%= _reimbursementId %>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <%= aprReimbursement.categoryName %>
                    </td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>
                        <%= aprReimbursement.purpose %>
                    </td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>
                        <%= aprReimbursement.totalCost %>
                    </td>
                </tr>
                <tr>
                    <td>Planned Date</td>
                    <td>
                        <%= aprReimbursement.plannedDate %>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        Approved
                    </td>
                </tr>
                <tr>
                    <td>Approval Date</td>
                    <td>
                        <%= aprReimbursement.approvalDate %>
                    </td>
                </tr>
                <tr>
                    <td>Application Date</td>
                    <td>
                        <%= aprReimbursement.createdDate %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>Remarks: <%= remarks %>
    </p>
    <p>
        Thank you and regards,<br>
        --<br><br>
        <%= manager.managerName %><br>
            <%= manager.positionName %><br>
                <%= manager.devName %><br>
    </p>
    <p>
        <strong>Advanced World Systems, Inc. | Advanced World Solutions, Inc.</strong>
        <br>
        <%= manager.officeName %>
    </p>
    <%- include('../includes/end.ejs') %>