<%- include('../includes/head.ejs') %>
    <p>Your Reimbursement Application for "<%= rjtReimbursement.purpose %>" has been Rejected.</p>
    <div>
        <table cellpadding="3px" border="1px" style="width: 740px; table-layout: fixed;" height="256">
            <tbody>
                <tr>
                    <td>Employee ID</td>
                    <td>
                        <%= rjtReimbursement._employeeId %>
                    </td>
                </tr>
                <tr>
                    <td>Reimbursement No.</td>
                    <td>
                        <%= _reimbursementId %>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <%= rjtReimbursement.categoryName %>
                    </td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>
                        <%= rjtReimbursement.purpose %>
                    </td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>
                        <%= rjtReimbursement.totalCost %>
                    </td>
                </tr>
                <tr>
                    <td>Planned Date</td>
                    <td>
                        <%= rjtReimbursement.plannedDate %>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        Rejected
                    </td>
                </tr>
                <tr>
                    <td>Rejection Date</td>
                    <td>
                        <%= rjtReimbursement.rejectionDate %>
                    </td>
                </tr>
                <tr>
                    <td>Application Date</td>
                    <td>
                        <%= rjtReimbursement.createdDate %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>Remarks: <%= remarks %>
    </p>
    <p>
        Thank you and regards,<br>
        --<br><br>
        <%= manager.managerName %><br>
            <%= manager.positionName %><br>
                <%= manager.devName %><br>
    </p>
    <p>
        <strong>Advanced World Systems, Inc. | Advanced World Solutions, Inc.</strong>
        <br>
        <%= manager.officeName %>
    </p>
    <%- include('../includes/end.ejs') %>