<%- include('../includes/head.ejs') %>
    <p>
        Your Reimbursement Application for "<%= rlsReimbursement.purpose %>" has been Released.<br>
            You may proceed to the Finance Department of your office to claim the reimbursement.
    </p>
    <div>
        <table cellpadding="3px" border="1px" style="width: 740px; table-layout: fixed;" height="256">
            <tbody>
                <tr>
                    <td>Employee ID</td>
                    <td>
                        <%= rlsReimbursement._employeeId %>
                    </td>
                </tr>
                <tr>
                    <td>Reimbursement No.</td>
                    <td>
                        <%= _reimbursementId %>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <%= rlsReimbursement.categoryName %>
                    </td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>
                        <%= rlsReimbursement.purpose %>
                    </td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>
                        <%= rlsReimbursement.totalCost %>
                    </td>
                </tr>
                <tr>
                    <td>Planned Date</td>
                    <td>
                        <%= rlsReimbursement.plannedDate %>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        Released
                    </td>
                </tr>
                <tr>
                    <td>Release Date</td>
                    <td>
                        <%= rlsReimbursement.releaseDate %>
                    </td>
                </tr>
                <tr>
                    <td>Application Date</td>
                    <td>
                        <%= rlsReimbursement.createdDate %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>Remarks: <%= remarks %>
    </p>
    <p>
        Thank you and regards,<br>
        --<br><br>
        <%= finOfficer.managerName %><br>
            <%= finOfficer.positionName %><br>
                <%= finOfficer.devName %><br>
    </p>
    <p>
        <strong>Advanced World Systems, Inc. | Advanced World Solutions, Inc.</strong>
        <br>
        <%= finOfficer.officeName %>
    </p>
    <%- include('../includes/end.ejs') %>